<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <title>옷 뿌리오</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body id="top">

<!-- Banner -->
<!--
    To use a video as your background, set data-video to the name of your video without
    its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
    formats to work correctly.
-->
<section id="banner" data-video="/media/banner">
    <div class="inner">
        <header>
            <h1>옷 뿌리오</h1>
            <p>정말 뿌리진 않지만<br />
                저렴한 가격의 쇼핑몰입니다.</p>
        </header>
        <a href="#main" class="more">Learn More</a>
    </div>
</section>

<!-- Main -->
<div id="main">
    <div class="inner">

        <!-- Boxes -->
        <div id="boxes" class="thumbnails">
            <tr th:each="product : ${productList}">
                <div class="box">
                    <a th:href="@{'/product/' + ${product.id}}" class="image fit"><img th:src="${product.attachmentImage.imagePath}" alt="" /></a>
                    <div class="inner">
                        <h3 th:text="${product.name}">name</h3>
                        <p th:text="${product.explain}">explain</p>
                        <p th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')}">price</p>
                        <a th:field="detail" th:href="@{'/product/' + ${product.id}}">자세히</a>
                    </div>
                </div>
            </tr>
        </div>

            <div class="thumbnails">
                <form id="moreForm" >
                    <input type="hidden" id="page" value="2"/>
                    <button type="button" id="moreBtn" onclick="showMoreTimeline()" class="btn btn-primary">더보기</button>
                </form>
            </div>
    </div>

</div>
<!--<script>
    pageNum = 2;
    moreButtonCheck();
    function moreButtonCheck() {
            /*<![CDATA[*/
        var totalPage = [[${totalPage}]];
        alert("totalPage" + totalPage);
        alert("pagenum" + pageNum);
        if(totalPage == pageNum){
            document.getElementById("moreBtn").style.display = "none";
        }

        /*]]>*/
    }

    function showMoreTimeline() {
        productListForm = $('#moreForm').serialize();
        // const productListForm = new FormData();
        // productListForm.append("page", pageNum);
        alert(productListForm);
        alert(pageNum);
        $.ajax({
            url: "/home/more",
            data: productListForm,
            type: "POST",
            success: function (data) {
                alert(data);
                $("#boxes").replaceWith(data);
            },
            error: function (e) {
                alert('서버 연결 도중 에러가 발생하였습니다. 다시 시도해 주십시오.');
            }
        });
        moreButtonCheck();
        pageNum++;
    }
</script>-->

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <h2>옷뿌리오</h2>
        <p>
            "내가 개발한 코드를 다른 사람이 보았을 때, 읽기 좋은 깨끗한 책처럼 느껴졌으면 좋겠다" <br> - 박정훈(29.9)
        <ul class="icons">
            <li><a href="/product" ><span class="label">상품관리</span></a></li>
        </ul>
    </div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<!--<script src="/js/jquery.poptrox.min.js"></script>-->
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
</body>
</html>