<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <tr>
                <th>Rank</th>
                <th>Name</th>
            </tr>
            <tr th:each="rank : ${orderRank}">
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" th:style="'width: ' + ${rank.percent} + ';'"> <span class="sr-only">60% Complete</span>

                        </div>
                    </div>
                </td>
                <td th:text="${rank.productName}"></td>
            </tr>
        </table>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>주문자명</th>
                <th>주문일자</th>
                <th>주문자 휴대폰번호</th>
                <th>상품아이디</th>
                <th>상품명</th>
                <th>상품가격</th>
                <th>구입개수</th>
                <th>총가격</th>
                <th>배송상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${allOrder}">
                <td th:text="${order.productTrade.id}"></td>
                <td th:text="${order.productTrade.orderName}"></td>
                <td th:text="${#temporals.format(order.productTrade.orderDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${order.productTrade.orderPhone}"></td>
                <td th:text="${order.productMaster.id}"></td>
                <td th:text="${order.productMaster.name}"></td>
                <td th:text="${order.orderPrice}"></td>
                <td th:text="${order.count}"></td>
                <td th:text="${order.getTotalPrice()}"></td>
                <td th:text="${order.productTrade.delivery.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->

</body>
</html>